# Version control
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
pip-log.txt

# Environment variables
.env

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store

# Docker
Dockerfile
.dockerignore

# Logs
*.log
logs/
